module {{ .ModuleName }} ({{ portListElement .PortList }});
{{ with $v := .Parameter }}{{ paramDeclElement $v }}{{ else }}//no parameter{{ end }}
{{ with $v := .PortDecl }}{{ portDeclElement $v }}{{ else }}//no port decl{{ end }}
{{ with $v := .Register }}{{ registerDeclElement $v }}{{ else }}//no register decl{{ end }}
{{ with $v := .EventDecl }}{{ eventDeclElement $v }}{{ else }}//no event decl{{ end }}
{{ with $v := .NetDecl }}{{ netDeclElement $v }}{{ else }}//no net decl{{ end }}
{{ with $v := .AssignDecl }}{{ assignDeclElement $v }}{{ else }}//no premitive decl{{ end }}
endmodule