always @*
        if ({{ .R }} == {{ .RstLvl }})
            {{ .Q }} <= 0;
        else if ({{ .S }} == {{ .SetLvl }})
            {{ .Q }} <= 1;
        else if ({{ .E }} == {{ .EnLvl }})
            {{ .Q }} <= {{ .D }};