assign {{ .Y }} = {{ .V }} ? {{ .U1 }} ? {{ .T1 }} ? ({{ .S1 }} ? {{ .P }} : {{ .O }}) :
                                                     ({{ .S2 }} ? {{ .N }} : {{ .M }}) :
                                         {{ .T2 }} ? ({{ .S3 }} ? {{ .L }} : {{ .K }}) :
                                                     ({{ .S4 }} ? {{ .J }} : {{ .I }}) :
                             {{ .U2 }} ? {{ .T3 }} ? ({{ .S5 }} ? {{ .H }} : {{ .G }}) :
                                                     ({{ .S6 }} ? {{ .F }} : {{ .E }}) :
                                         {{ .T4 }} ? ({{ .S7 }} ? {{ .D }} : {{ .C }}) :
                                                     ({{ .S8 }} ? {{ .B }} : {{ .A }});