assign {{ .Y }} = {{ .U }} ? {{ .T1 }} ? ({{ .S1 }} ? {{ .H }} : {{ .G }}) :
                                         ({{ .S2 }} ? {{ .F }} : {{ .E }}) :
                             {{ .T2 }} ? ({{ .S3 }} ? {{ .D }} : {{ .C }}) :
                                         ({{ .S4 }} ? {{ .B }} : {{ .A }});